*{
	margin:0;
	border:0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color:#323232;
}
.container{
	width: 100%;
	height: 100vh;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill h2{
     font-weight:  400 ;
	 letter-spacing: 1px;
	 margin-top: 40px;
	 color:#fff;
	 font-size: 20px;
	 margin-bottom: 5px;
}
.progress-ber {
	background: #959595;
	width:600px;
	height:10px;
    border-radius:5px;
	font-size:18px;
}
.progress-ber div{
	height:10px;
	border-radius:5px;
	width: 0%;
	
}
.progress-ber div span{
	height:30px;
	width:35px;
	border-radius: 50%;
	float: right;
	background: white;
	color:#333;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -10px;
	padding: 1px;
	margin-right: -20px;

}
.html{
	background: #611067;
	animation: html 1s linear forwards;
}
.css{
	background: #F6CD16;
	animation: css 1s linear forwards;
}
.javascript{
	background: #0EA4D8;
	animation: javascript 1s linear forwards;
}
.bootstrap{
	background: #D1F616;
	animation: bootstrap 1s linear forwards;
}
.php{
	background: #CB0ED8;
	animation: php 1s linear forwards;
}
.react{
	background: #934359;
	animation: react 1s linear forwards;
}
.html span{
	border:2px solid #611067;
	
}
.css span{
	border:2px solid #F6CD16;
}
.javascript span{
	border:2px solid #0EA4D8;
}
.bootstrap span{
	border:2px solid #D1F616;
}
.php span{
	border:2px solid #CB0ED8;
}
.react span{
	border:2px solid #934359;
}
@keyframes html{
	100%{
         width: 80%;
	}
}
@keyframes css{
	100%{
         width: 75%;
	}
}
@keyframes javascript{
	100%{
         width: 65%;
	}
}
@keyframes bootstrap{
	100%{
         width: 55%;
	}
}
@keyframes php{
	100%{
         width: 50%;
	}
}
@keyframes react{
	100%{
         width: 45%;
	}
}